<div class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg", alt: "Watch List" %>
      <span class="brand-text">Watch List</span>
    <% end %>

    <ul class="navbar-nav navbar-nav-primary flex-row">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "My Lists", lists_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New List", new_list_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav flex-row align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
